/*die ganze Seite*/
body {
    background-color: rgb(82, 173, 133);
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: fit-content;
    min-height: fit-content;
    scale: 100%;
}

/*Knöpfe*/
.knopf {
    font-weight: bold;
    font-size: 20px;
    align-self: center;
    max-width: 250px;
    margin: 20px;
}

/*Hintergrund für die Knöpfe*/
.bdiv {
    align-self: center;
    background-color: rgb(178, 122, 179);
    min-width: 700px;
    min-height: 65px;
}

/*Hauptanzeige// Menü, Text, Inventar // Box*/
.anzeige {
    display: flex;
    align-self: center;
    background-color: rgba(255, 0, 0, 0.038);
    min-width: 10px;
    min-height: 10px;
}

/*seiten*/
.seiten {
    background-color: bisque;
    min-width: 200px;
    min-height: 100px;
}

/*Text feld*/
.tdiv {
    align-self: center;
    background-color: rgb(185, 223, 255);
    min-width: 400px;
    height: auto;
}

/*Textfeld*/
input {
    width: 90px;
}